* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #252b48;
  display: flex;
  justify-content: center;
}

.charmClass {
  width: 15px;
  height: 15px;
  background-color: #5b9a8b;
  /* border: 1px solid #f7e987; */
  font-size: 10px;
  box-sizing: border-box;
}
.charmBgc {
  background-color: transparent;
}
.createRow {
  display: flex;
  flex-direction: row;
}
.snakeLink {
  background-color: #ff9604;
}

#snakeBord {
  position: absolute;
  top: 0px;
  width: 450px;
  height: 450px;
  transform-origin: 50% 50%;
  transition: transform 3.5s;
  transform: rotateX(0deg);
}
#playGround {
  position: relative;
  top: 20vh;
  border: 5px solid #f7e987;

  width: 459px;
  height: 459px;
  perspective: 800px;
}
#greenSnake {
  width: 450px;
  height: 450px;
}
#scoreDiv {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
  /* max-width: 459px; */
  margin: 0 auto;
  align-items: center;
  top: 5vh;
  width: 459px;
  height: 25px;
  font-size: 20px;
}
.infoBox {
  justify-self: center;
  width: 60px;
  height: 25px;
  border: 1px solid #f7e987;
  border-radius: 12px;
  background-color: #5b9a8b;
  color: #252b48;
  text-align: center;
}
.info {
  justify-self: center;
  text-align: center;
  color: #f7e987;
}
.info:nth-child(1) {
  grid-column: 2;
  grid-row: 2;
}
.infoBox:nth-child(2) {
  grid-column: 3;
  grid-row: 2;
}
#greenSnake {
  position: absolute;
  display: none;
}
@media (min-width: 768px) {
  .charmClass {
    width: 20px;
    height: 20px;
  }
  #snakeBord {
    width: 600px;
    height: 600px;
  }
  #playGround {
    width: 610px;
    height: 610px;
    top: 10vh;
  }
  #scoreDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    top: 2vh;
  }
  .infoBox {
    width: 60px;
  }
  #greenSnake {
    width: 600px;
    height: 600px;
  }
}
