* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #ffba86;
}
button {
  width: 150px;
  height: 5vh;
  background-color: #c23373;
  border-radius: 2.5vh;
  box-shadow: 0 4px 4px rgba(39, 30, 1, 0.352);
  margin: 10px;
}
#buttonContainer {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
}
#mainContainer {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
}
.subContainer {
  width: 45vw;
  height: 85vh;
  background-color: #f6635c;
  text-align: center;
  color: #79155b;
}
.meal {
  width: 43vw;
  height: 25vh;
  border: 2px solid #79155b;
  border-radius: 20px;
  margin: 5px 15px;
}
#recipeResult {
  overflow: auto;
  max-height: 80vh;
}
